body {
  position:relative;
}

.mdp-main-container {
  width:100%;
  height:1000px;
  background-image:url("../../img/background.jpg");
  background-position:center top;
}

a {
  text-decoration:none !important;
}