@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
body {
  position: relative;
}

.mdp-main-wrapper {
  width: 100%;
  background-image: url("../../img/background.jpg");
  background-position: center top;
  background-attachment: fixed;
}

.mdp-main-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 10px 180px 10px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none !important;
  color: #2f5530;
}

p.mdp-signature {
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
}

.mdp-bold {
  font-weight: bold;
}

.mdp-italic {
  font-style: italic;
}

h2 {
  font-size: 150% !important;
  font-family: "Roboto Condensed", sans-serif;
  color: #2f5530;
  margin: 30px 0 0 0;
  font-weight: normal !important;
}

ul {
  list-style: square;
}

ul li {
  font-size: 90%;
}

.mdp-error-page {
  padding: 30px;
}

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/
.mdp-header-wrapper {
  width: 100%;
  background-color: #96ba48;
  padding: 5px 0;
  border-bottom: 5px solid white;
}

.mdp-header {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdp-logo {
  width: 500px;
  height: 120px;
  padding: 5px;
}

.mdp-logo img {
  width: 100%;
  margin: auto;
  display: block;
}

.mdp-logo-mobile {
  display: none;
}

.mdp-navbar-container {
  position: relative;
  width: 650px;
}

.mdp-main-menu {
  width: 650px;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.mdp-main-menu ul {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdp-main-menu ul li {
  list-style: none !important;
  padding: 0;
}

.mdp-main-menu ul li a {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 110%;
  display: block;
  padding: 0 10px;
  outline: none !important;
}

#mdp-navbar {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 600px;
}

#mdp-navbar li a:hover {
  color: white;
}

#mdp-navbar-arrow {
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 10px;
  background-image: url("../../img/menu/arrow.png");
  background-repeat: no-repeat;
}

#mdp-hidden {
  display: none;
}

.mdp-footer {
  width: 100%;
  background-color: #96ba48;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  color: #2f5530;
  font-family: Arial, sans-serif;
  font-size: 90%;
}

.mdp-footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mdp-footer-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #cfee9c;
  padding: 0 10%;
}

.mdp-footer-menu ul {
  list-style: none !important;
  padding: 0 10px;
  width: 50%;
  box-sizing: border-box;
}

.mdp-footer-menu ul li a {
  display: block;
  color: #2f5530;
}

.mdp-footer-menu ul li.mdp-active-footer {
  font-style: italic;
  position: relative;
  left: 10px;
  display: inline-block;
}

.mdp-footer-menu ul li.mdp-active-footer:before {
  content: "> ";
  position: absolute;
  left: -10px;
}

.mdp-footer-fb {
  width: 50%;
  padding: 0 10%;
  box-sizing: border-box;
}

.mdp-footer-fb p {
  text-align: center;
}

.mdp-footer-fb-icons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
}

.mdp-footer-fb-icons img {
  width: 60px;
  padding: 10px 20px;
}

.mdp-footer-menu-responsive {
  display: none;
}

.mdp-main-aside {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 23%;
}

.mdp-main-aside section {
  width: 100%;
  margin-bottom: 10px;
}

.mdp-main-aside section header {
  background-color: #96ba48;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mdp-main-aside section header h1 {
  margin: 0 !important;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 115%;
  text-align: center;
}

.mdp-main-aside section main {
  background-color: white;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mdp-sidebar-news main ul {
  list-style: none !important;
  padding-left: 10px;
  margin: 0;
}

.mdp-sidebar-news main ul li {
  text-align: justify;
}

.mdp-sidebar-news main ul li .mdp-bold {
  font-weight: bold;
  color: #7c9a3a;
}

.mdp-sidebar-info main p {
  text-align: center;
}

.mdp-sidebar-info-address p {
  margin: 0;
  font-size: 90%;
}

.mdp-sidebar-info-map {
  margin: 10px 0;
}

.mdp-sidebar-info-phone p {
  font-size: 90%;
  margin: 0;
}

.mdp-sidebar-info-phone p em.mdp-phone-number {
  font-size: 160%;
  font-family: "Roboto Condensed", sans-serif;
  color: #7c9a3a;
  font-style: normal !important;
}

.mdp-sidebar-info-text {
  font-size: 90%;
}

p.mdp-sidebar-info-pdf {
  margin-bottom: 0;
}

p.mdp-sidebar-info-pdf a {
  color: #2f5530;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 120%;
}

.mdp-sidebar-offers main {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mdp-sidebar-offers main ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mdp-sidebar-offers main ul li {
  width: 100%;
}

.mdp-sidebar-offers main ul li div {
  background-color: #96ba48;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-radius: 5px;
}

.mdp-sidebar-offers main ul li div img {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
}

.mdp-sidebar-offers main ul li div p {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 115%;
  text-align: center;
  margin: auto;
}

.mdp-sidebar-offers main ul li div.mdp-sidebar-offers-advices {
  margin-bottom: 0 !important;
}

.mdp-main-content {
  width: 75%;
  background-color: white;
  margin: 0 0 10px 10px;
  border-radius: 5px;
}

.mdp-main-content header h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
  border-bottom: 1px solid #cfee9c;
}

.mdp-main-content main p {
  font-size: 90%;
  text-align: justify;
  line-height: 130%;
}

.mdp-main-content ul li {
  line-height: 130%;
  padding: 5px 0;
}

.mdp-main-content > section > header {
  width: 100%;
  background-color: #96ba48;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
}

.mdp-main-content > section > main {
  padding: 30px 50px 20px 50px;
}

/*
|--------------------------------------------------------------------------
| Pages
|--------------------------------------------------------------------------
*/
.mdp-home-img {
  max-width: 600px;
  width: 100%;
  display: block;
  padding: 10px;
  margin: 50px auto 0;
  box-sizing: border-box;
}

.mdp-salon-introduction {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  box-sizing: border-box;
}

.mdp-salon-introduction figure {
  margin: 5px;
  width: 49%;
  box-sizing: border-box;
}

.mdp-salon-introduction figure img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 300px;
  margin: auto;
  display: block;
}

.mdp-salon-introduction figure figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.mdp-salon-introduction-text {
  width: 49%;
  padding: 0 10px;
  box-sizing: border-box;
}

.mdp-salon-interview {
  text-align: center;
  max-width: 300px;
  margin: 30px auto;
}

.mdp-salon-interview p {
  text-align: center !important;
  margin: 5px 0 0 0;
}

.mdp-provisions-tab {
  margin-top: 30px;
}

.mdp-provisions-tab:first-child {
  margin-top: 0 !important;
}

.mdp-provisions-tab > header {
  background-color: #cfee9c;
  width: 100%;
  border-radius: 0;
  padding: 5px 0;
}

.mdp-provisions-tab > header h2 {
  margin: 0;
  text-align: center;
}

.mdp-provisions-tab > main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdp-provisions-tab-category {
  width: 49%;
  box-sizing: border-box;
}

.mdp-provisions-tab-category header h3 {
  text-align: center;
  color: #7c9a3a;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 130%;
  font-weight: normal;
  text-transform: lowercase;
  margin: 10px 0;
}

.mdp-provisions-tab-list {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.mdp-provisions-tab-list li {
  box-sizing: border-box;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mdp-provisions-tab-list li:nth-child(odd) {
  background-color: #cfee9c;
}

.mdp-provisions-tab-list li div {
  box-sizing: border-box;
  font-size: 90%;
  box-sizing: border-box;
}

.mdp-provisions-tab-list li div:last-of-type {
  font-weight: bold;
  width: 20%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 5px;
}

.mdp-provisions-tab-list li div:first-of-type {
  width: 80%;
  box-sizing: border-box;
}

.mdp-provisions-tab-note {
  font-size: 85%;
  padding: 10px 0;
}

.mdp-products-list {
  list-style: none !important;
  padding: 0;
}

.mdp-products-list li img {
  border: 1px solid #d2d3d1;
  display: block;
  margin: 50px auto 5px;
}

.mdp-products-list li h2 {
  text-align: center;
  margin-top: 10px;
}

.mdp-products-list li p {
  padding: 5px 0 !important;
  margin: 0 !important;
}

.mdp-offers h2 {
  margin-top: 0;
}

.mdp-offers-advantages, .mdp-offers-gifts {
  margin: 30px 0;
}

.mdp-offers-advantages, .mdp-offers-gifts, .mdp-offers-special-offers > main {
  padding-top: 1% !important;
}

.mdp-h3 {
  font-size: 130%;
  color: #7c9a3a;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal !important;
}

.mdp-offers-cards {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdp-offers-cards figure {
  width: 49%;
  margin: 0;
}

.mdp-offers-cards figure img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 1% auto;
  padding: 10px;
  box-sizing: border-box;
}

.mdp-advices-article header h2 {
  text-align: center;
  margin: 40px 0 30px 0;
}

.mdp-advices-article:last-child .mdp-advices-separator {
  display: none;
}

.mdp-advices-date {
  text-align: right !important;
  font-style: italic;
}

.mdp-advices-separator {
  width: 100%;
  height: 100px;
  background-image: url("../../img/pages/advices/feuille.png");
  background-repeat: no-repeat;
  background-position: center;
}

.mdp-contact address {
  font-style: normal !important;
  padding-top: 10px;
}

.mdp-contact-phone {
  font-weight: bold;
  font-size: 120%;
}

.mdp-contact-form {
  padding-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdp-contact-form ::-webkit-input-placeholder {
  color: #222;
}

.mdp-contact-form :-moz-placeholder {
  /* Firefox 18- */
  color: #222;
}

.mdp-contact-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #222;
}

.mdp-contact-form :-ms-input-placeholder {
  color: #222;
}

.mdp-contact-form input[type="text"], .mdp-contact-form input[type="email"] {
  width: 29%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7c9a3a;
  font-size: 90%;
}

.mdp-contact-form textarea {
  font-size: 90%;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #7c9a3a;
}

.mdp-contact-form input[type="submit"] {
  width: 30%;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #96ba48;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 120%;
  border: none !important;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
}

.mdp-contact-form input[type="submit"]:hover {
  background-color: #7c9a3a;
}

.mdp-contact-map iframe {
  max-width: 500px;
  height: 300px;
  width: 100%;
}

.mdp-legal-notice-list {
  list-style: none !important;
  padding: 0;
}

.mdp-legal-notice-list li:first-of-type h2 {
  margin-top: 0;
}

.mdp-legal-notice-list li p {
  margin: 10px 0;
}

.mdp-legal-notice-list li:first-child .mdp-legal-notice-title {
  margin: 0;
}

.mdp-partners-list {
  list-style: none !important;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 40px 0 50px 0;
}

.mdp-partners-list li a img {
  padding: 10px;
  border: 1px solid #d2d3d1;
}

/*
|--------------------------------------------------------------------------
| Responsive
|--------------------------------------------------------------------------
*/
/*petits écrans de - de 768px, mobiles et tablettes*/
@media screen and (max-width: 768px) {
  .mdp-main-container {
    -webkit-flex-flow: wrap-reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
    padding-bottom: 340px;
  }
  img {
    max-width: 100% !important;
    box-sizing: border-box !important;
    height: 100% !important;
    display: block !important;
    margin: 20px auto !important;
    float: none !important;
  }
}

.slicknav_menu {
  display: none;
}

/*petits écrans de - de 768px, mobiles et tablettes*/
@media screen and (max-width: 768px) {
  /* #menu is the original menu */
  #mdp-navbar {
    display: none;
  }
  .slicknav_btn {
    background-color: #7c9a3a !important;
  }
  .slicknav_menutxt {
    text-shadow: none !important;
  }
  .slicknav_menu {
    display: block;
    background-color: #7c9a3a !important;
  }
  .slicknav_menu li {
    font-size: 130%;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  .slicknav_menu li a {
    text-align: center;
    color: white;
  }
  .slicknav_menu li a:hover {
    background-color: #96ba48;
    color: white;
  }
  .mdp-logo {
    display: none;
  }
  .mdp-logo-mobile {
    display: block;
    width: 100%;
  }
  .mdp-logo-mobile img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
  }
  .mdp-logo-mobile p {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    padding: 5px;
  }
}

/*écrans moyens entre 680px et */
@media screen and (min-width: 680px) and (max-width: 1150px) {
  .mdp-logo {
    align: flex-start;
    height: 150px;
    margin-left: 10px;
  }
  .mdp-navbar-container {
    align: flex-end;
    width: 100%;
  }
}

/*petits écrans - de 769px, mobiles et tablettes*/
@media screen and (max-width: 768px) {
  .mdp-footer-container {
    -webkit-flex-flow: wrap-reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
  }
  .mdp-footer-fb {
    width: 100%;
  }
  .mdp-footer-main-menu {
    display: none;
  }
  .mdp-footer-menu {
    width: 100% !important;
    background-color: #7c9a3a;
    padding: 5px;
  }
  .mdp-footer-small-menu {
    width: 100% !important;
  }
  .mdp-footer-small-menu li {
    font-size: 130%;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  .mdp-footer-small-menu li a {
    text-align: center;
    color: white !important;
    padding: 5px 10px;
    margin: 2px 5px;
    border-radius: 5px;
  }
  .mdp-footer-small-menu li a:hover {
    background-color: #96ba48;
    color: white;
  }
}

/*petits écrans de - de 768px, mobiles et tablettes*/
@media screen and (max-width: 768px) {
  .mdp-main-aside {
    width: 100%;
  }
  .mdp-sidebar-offers ul li {
    width: 49% !important;
  }
}

/*petits écrans de - de 400px*/
@media screen and (max-width: 400px) {
  .mdp-sidebar-offers ul li {
    width: 100% !important;
  }
}

/*petits écrans de - de 400px*/
@media screen and (max-width: 855px) and (min-width: 769px) {
  .mdp-main-aside {
    width: 28%;
  }
}

/*petits écrans entre 769 et 980px, tablettes*/
@media screen and (min-width: 769px) and (max-width: 980px) {
  .mdp-main-content {
    margin-right: 0;
    width: 70%;
  }
  .mdp-main-aside {
    width: 30%;
  }
}

/*écrans de + de 769px*/
@media screen and (min-width: 769px) {
  .mdp-main-aside {
    max-width: 240px;
  }
}

/*petits écrans de - de 768px, mobiles et tablettes*/
@media screen and (max-width: 768px) {
  .mdp-main-content {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .mdp-main-content > section > main {
    padding: 4%;
  }
}

/*petits écrans entre 769 et 980px, tablettes*/
@media screen and (min-width: 769px) and (max-width: 980px) {
  .mdp-main-content {
    margin-right: 0;
    width: 68%;
  }
  .mdp-main-content > section > main {
    padding: 4%;
  }
}

/*************PAGE INSTITUT*************/
/*petits écrans - de 1000px*/
@media screen and (max-width: 1000px) {
  .mdp-salon-introduction figure {
    width: 100%;
  }
  .mdp-salon-introduction-text {
    width: 100%;
  }
}

/*************PAGE PRESTATIONS*************/
/*petits écrans - de 600px*/
@media screen and (max-width: 600px) {
  .mdp-provisions-tab-category > main {
    padding: 1% 0 !important;
  }
  .mdp-provisions-tab-category {
    width: 100%;
  }
}

/*************PAGE OFFRES*************/
/*petits écrans - de 980px*/
@media screen and (max-width: 980px) {
  .mdp-offers-cards figure {
    width: 100%;
  }
}

/*************PAGE CONTACT*************/
/*petits écrans - de 980px*/
@media screen and (max-width: 980px) {
  .mdp-contact-form input[type="text"], .mdp-contact-form input[type="email"] {
    width: 100%;
    margin: 5px 0;
  }
}
