.mdp-sidebar-news {
  main {
    ul {
      list-style:none !important;
      padding-left:10px;
      margin:0;
      li {
        text-align:justify;
        .mdp-bold {
          font-weight:bold;
          color:$mediumGreen;
        }
      }
    }
  }
}