.mdp-advices-article {
  header {
    h2 {
      text-align:center;
      margin:40px 0 30px 0;
    }
  }

  &:last-child {
    .mdp-advices-separator {
      display:none;
    }
  }
}

.mdp-advices-date {
  text-align:right !important;
  font-style:italic;
}

.mdp-advices-separator {
  width:100%;
  height:100px;
  background-image:url('../../img/pages/advices/feuille.png');
  background-repeat:no-repeat;
  background-position:center;
}