.mdp-contact {
  address {
    font-style:normal !important;
    padding-top:10px;
  }
}

.mdp-contact-phone {
  font-weight:bold;
  font-size:120%;
}

.mdp-contact-form {
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  flex-flow:row wrap;

  ::-webkit-input-placeholder {
    color: #222;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #222;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #222;
  }

  :-ms-input-placeholder {
    color: #222;
  }

  label {
    display:none;
  }

  input[type="text"], input[type="email"]{
    width:48%;
    padding:10px;
    margin:10px 0;
    border-radius:5px;
    border:1px solid $mediumGreen;
    font-size:90%;
    box-sizing:border-box;
  }

  textarea {
    font-size:90%;
    padding:10px;
    margin-top:10px;
    width:100%;
    border-radius:5px;
    border:1px solid $mediumGreen;
  }
  input[type="submit"]{
    width:30%;
    margin:20px auto 0;
    padding:10px;
    background-color:$mainGreen;
    color:white;
    font-family:$fontTitle;
    font-size:120%;
    border: none !important;
    border-radius:5px;
    font-weight:300;
    cursor:pointer;

    &:hover {
      background-color:$mediumGreen;
    }
  }
}

.mdp-contact-map {
  iframe {
    max-width:500px;
    height:300px;
    width:100%;
  }
}

.mdp-contact-success {
  color:$mediumGreen;
  font-size:130% !important;

}