.mdp-contact {
  address {
    font-style:normal !important;
    padding-top:10px;
  }
}

.mdp-contact-phone {
  font-weight:bold;
  font-size:120%;
}

.mdp-contact-map {
  iframe {
    width:500px;
    height:350px;
  }
}