.mdp-offers {
  h2 {
    margin-top:0;
  }
}

.mdp-offers-advantages, .mdp-offers-gifts {
    margin:30px 0;
}

.mdp-offers-advantages, .mdp-offers-gifts, .mdp-offers-special-offers > main {
  padding-top:1% !important;
}

.mdp-h3 {
  font-size:130%;
  color:$mediumGreen;
  font-family:$fontTitle;
  font-weight:normal !important;
}

.mdp-offers-cards {
  display:flex;
  justify-content:space-around;
  flex-flow:row wrap;

  figure {
    width:49%;
    margin:0;

    img {
      width:100%;
      max-width:400px;
      display:block;
      margin:1% auto;
      padding:10px;
      box-sizing:border-box;
    }
  }
}
