.mdp-salon-introduction {
  display:flex;
  justify-content:space-around;
  flex-flow:row wrap;
  box-sizing:border-box;

  figure {
    margin:5px;
    width:49%;
    box-sizing:border-box;
    img {
      width:100%;
      padding:10px;
      box-sizing:border-box;
      max-width:300px;
      margin:auto;
      display:block;
    }
    figcaption {
      font-size:80%;
      font-style:italic;
      text-align:center;
      max-width:300px;
      margin:auto;
    }
  }


}

.mdp-salon-introduction-text {
  width:49%;
  padding:0 10px;
  box-sizing:border-box;
}

.mdp-salon-interview {
  text-align:center;
  max-width:300px;
  margin:30px auto;
  p {
    text-align:center !important;
    margin:5px 0 0 0;
  }
}