.mdp-footer {
  width:100%;
  height:140px;
  background-color:$mainGreen;
  padding:10px 0;
  position:absolute;
  bottom:0;
  color:$darkGreen;
  font-family:$mainFont;
  font-size:90%;
}

.mdp-footer-container {
  max-width:1200px;
  margin:0 auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
}

.mdp-footer-menu {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  width:50%;
  box-sizing:border-box;
  border-right:1px solid $lightGreen;
  padding:0 10%;
  ul {
    list-style:none !important;
    padding:0 10px;
    width:50%;
    box-sizing:border-box;
    li {
      a {
        display:block;
        color:$darkGreen;
      }
     &.mdp-active-footer {
       font-style:italic;
       position:relative;
       left:10px;
       display:inline-block;
       &:before {
         content:"> ";
         position:absolute;
         left:-10px;
       }
     }
    }
  }

}

.mdp-footer-fb{
  width:50%;
  padding:0 10%;
  box-sizing:border-box;
  p{
    text-align:center;
  }
}

.mdp-footer-fb-icons {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  box-sizing:border-box;
  img {
    width:60px;
    padding:10px 20px;
  }
}