.mdp-header-wrapper {
  width:100%;
  height:100px;
  background-color:$mainGreen;
  padding:5px 0;
  border-bottom:5px solid white;
}

.mdp-header {
  max-width:1200px;
  width:100%;
  height:100%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  flex-flow:row wrap;
}

.mdp-logo {
  width:500px;
  img {
    width:100%;
  }
}

.mdp-navbar-container {
  position:relative;
}

.mdp-main-menu {
  width:650px;
  position:absolute;
  bottom:5px;
  right:0;
  ul {
    margin:0;
    padding:0;
    position:absolute;
    bottom:5px;
    display:flex;
    justify-content:space-between;
    flex-flow:row wrap;
    li {
      list-style:none !important;
      padding:0 10px;
      a {
        font-family:$fontTitle;
        color:#fff;
        text-transform:uppercase;
        font-weight:400;
        font-size:100%;
        display:block;
      }
    }

  }
}

#mdp-navbar { margin: 0 auto; list-style: none; position: relative; width: 600px; }
#mdp-navbar li a:hover { color: white; }
#mdp-navbar-arrow { position: absolute; bottom: -15px; left: 0; width: 20px; height: 10px; background-image:url("../../img/menu/arrow.png"); background-repeat:no-repeat;}