/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Pages
|--------------------------------------------------------------------------
*/
.mdp-bo-advices-buttons {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.mdp-bo-advices-pagination {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

/*
|--------------------------------------------------------------------------
| Responsive
|--------------------------------------------------------------------------
*/
