.mdp-main-content{
  width:75%;
  background-color:$whiteTransp;
  margin:0 0 10px 10px;
  border-radius:5px;

  header {
     h1 {
       font-family:$fontTitle;
       color:white;
       font-size:120%;
       text-transform:uppercase;
       font-weight:300;
       width:100%;
       border-bottom:1px solid $lightGreen;
     }
  }

  main {
    p {
      font-size:90%;
      text-align:justify;
      line-height:130%;
    }
  }
  ul {
    li {
      line-height:130%;
      padding:5px 0;
    }
  }
}

.mdp-main-content > section > header {
  width:100%;
  background-color:$mainGreen;
  padding:10px 30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  box-sizing:border-box;
}

.mdp-main-content > section > main {
  padding:30px 50px 20px 50px;
}